.header{
    height: 100px;
    width: 100%;
    background-color: black;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}
.headertitle{
    margin: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    position: relative;
    top: -55px;
    left:-20px;
}

li {
    float: right;
    display: block;
    padding: 10px;
    background-color: black;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li:hover{
    background-color: rgb(41, 41, 41);
    border: 2px solid white;
}
.body{
    height: 100%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 80px;
}
#title{
    color: bisque;
    text-align: center;
    font-size: 600%;  
}
.body p{
    color: bisque;
    font-size: 20px;
    padding: 1rem;
}
iframe{
    padding: 10px;
    position: relative;
    left: 12%;
}
.sidebar{
    height: 400px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    float: right;
    position: relative;
    top: -1100px;
}
.sidebar h1{
    color: bisque;
    text-align: center;
    font-family: sans-serif;
}
.sidebar img{
    height: 160px;
    width: 150px;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgb(168, 6, 6);
}
.sidebar h2{
    color: bisque;
    text-align: center;
}
.sidebar p{
    color: bisque;
    text-align: center;
    font-size: 130%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: red;
    text-align: center;
}
body{
    background-image: url('./img/brickwall.jpg');
}